<div class="flex h-full w-full" [ngClass]="{
    'flex-row': direction() === 'horizontal',
     'flex-col': direction() === 'vertical' }
     ">
  <!-- START PANEL -->
  <div class="w-full h-full min-w-0 min-h-0" [style.flex-basis.%]="splitPercent()">
    <ng-content select="[slot=start]" />
  </div>

  <!-- RESIZER -->
  <div class="
    bg-slate-700 transition-colors shrink-0 touch-none select-none
    data-[is-dragging='true']:bg-blue-500
    data-[is-dragging='true']:cursor-grabbing
  "
    [ngClass]="{
      'h-full w-1 cursor-col-resize': direction() === 'horizontal',
      'h-1 w-full cursor-row-resize': direction() === 'vertical',
    }"
    [attr.data-is-dragging]="isDragging()"
    (pointerdown)="onGutterPointerDown($event)"
    (pointermove)="onGutterPointerMove($event)"
     (pointerup)="onGutterPointerUp($event)"></div>

  <!-- END PANEL -->
  <div class="w-full h-full min-w-0 min-h-0" [style.flex-basis.%]="100 - splitPercent()">
    <ng-content select="[slot=end]" />
  </div>
</div>
